*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    --hue: var(--hue-neutral);
    background-color: gainsboro;
}

body.correct {
    --hue: var(--hue-correct);
}



.container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: .90em;
    font-weight: bold; 
  }

.btn {
    --hue: var(--hue-neutral);
    background-color: turquoise;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover {
    border-color: black;
    background-color: yellowgreen;
}
.start-btn, .next-btn {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#timer {
    background-color: gray;
}